<nav class="mb-1 navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/home"><img src="https://i.postimg.cc/tg7fY4zd/logo-WS.png" alt="logo" height="35">Wild Series</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
            aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Catégories
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item nav-link" href="/wild/category/horreur">Horreur</a>
                    <a class="dropdown-item nav-link" href="#">Action</a>
                    <a class="dropdown-item nav-link" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('wild_index') }}">Séries</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Acteurs
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item nav-link" href="#">Horreur</a>
                    <a class="dropdown-item nav-link" href="#">Action</a>
                    <a class="dropdown-item nav-link" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Mes favoris</a>
            </li>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto nav-flex-icons">

            <li class="nav-item avatar">
                {% if app.user %}
                    <a class="nav-link p-0" href="{{ path('app_logout') }}"><button type="button" class="btn btn-danger mr-2">Se deconnecter</button>
                        <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar.jpg" class="rounded-circle z-depth-0"
                             alt="avatar image" height="35"></a>
                {% else %}
                    <a class="nav-link p-0" href="{{ path('app_login') }}"><button type="button" class="btn btn-danger mr-2">Connexion</button>
                        <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar.jpg" class="rounded-circle z-depth-0"
                             alt="avatar image" height="35"></a>
                {% endif %}
            </li>
            <!--<li class="nav-item">
                {% if app.user %}
                    <p> Bienvenue {{ app.user.username }} sur Wild Series !</p>
                {% endif %}
            </li>-->

        </ul>
    </div>
</nav>

