<div style="background-color: #dddddd">
    <h1 style="text-align: center">La nouvelle série {{ program.title }} a été ajoutée</h1>
    <h2 style="text-align: center">Cliquez <a href="http://localhost:8000/program/{{ program.slug }}" style="color: red">ici</a> pour y accéder.
    </h2>
</div>
