// assets/css/global.scss

// customize some Bootstrap variables
$primary: darken(#428bca, 20%);

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";

.navbar-light .navbar-nav .nav-link{
  font-size: 1em;
}

body {
    background-color: #dddddd;
}

.serie_title {
  margin-top: 10px;
  color: black;
}

.serie_category {
  color: black;
}

.btn-return {
  color: white;
}

.btn-dark {
  margin-top: 10px;
}

.align-self-start {
  margin-bottom: 30px;
}

a:hover {
  color: red;
  text-decoration: none;
}

/*****CRUD PART*****/

input, select, optgroup, textarea {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

label {
margin-left: 10px;
}

#program_actors {
}