{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bienvenue sur Wild Series</h1>
    <br>
    {# templates/index.html.twig #}
    <a href="{{ path('wild_show', { 'slug': "walking-dead" }) }}">
        Testing show() method from WildController with a real programs slug.
    </a>
    <br>
    <a href="{{ path('wild_index') }}">
        Testing index() method from WildController to view all programs.
    </a>
{% endblock %}